@import "../node_modules/bootstrap/scss/bootstrap";

$header-font: "Inter", sans-serif;
$text-font: "Ubuntu Sans", sans-serif;

$headers: (
	"h1",
	"h2",
	"h3",
	"h4",
	"h5",
	"h6",
	".display-1",
	".display-2",
	".display-3",
	".display-4"
);
$text-elems: ("p", "a", "span", "sub", "sup");

@each $header in $headers {
	#{$header} {
		font-family: $header-font;
	}
}

@each $text in $text-elems {
	#{$text} {
		font-family: $text-font;
	}
}

.cursor {
	user-select: none;
	cursor: pointer;
}
